<div class="my-24 text-center">
  <h1 class="tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
    <span>Weather Details here</span><br>
    <span class="text-indigo-600">More Weather Details...</span>
  </h1>
  <p class="mt-5 mb-10 text-gray-500 sm:text-lg md:text-xl">Starter Kit to build Rails applications fast, with Ralix, Tailwind and more!</p>
  <a href="/users/sign_up" class="text-2xl btn">Sign up</a>
  <a href="https://github.com/ralixjs/railstest2022" class="btn">[old] Get started</a>
  <a href="<%= articles_path %>" class="ml-4 btn btn-outline">[old] Explore app</a>
</div>
