<footer
      class="fixed inset-x-0 bottom-0 p-0 text-center text-white bg-indigo-600 border-t-4 border-indigo-800 ">
  <p class="mt-4 text-sm leading-6 text-center text-slate-200">© <%= Time.now.year %> 47 Hats. All rights reserved.</p>
  <div class="flex items-center justify-center mt-4 mb-4 space-x-2 text-sm font-semibold leading-6">
    <%= link_to "About us", page_path(:about), class:"text-white" %>
    <div class="w-px h-4 bg-slate-200/20"></div>
    <%= link_to "Terms", page_path(:terms), class:"text-white"%>
    <div class="w-px h-4 bg-slate-200/20"></div>
    <%= link_to "Privacy policy", page_path(:privacy_policy), class:"text-white" %>
  </div>
</footer>
